.childA2 ul li{
    list-style: none;
margin: 20px;
}
.child1{
    display:flex; 
}
.childA11{
    position: absolute;
    top: -200px;
    left:-10px;
    z-index: -1;
}
.childA2 ul{
    display: flex;
    align-items: center;
    height:100%;
    margin: 0%;
    color: #000;


font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.childA2{
    color: #000;
}
.parent{
    display: flex;
    justify-content: space-between;
   font-family: 'Poppins', sans-serif;
   margin-left: 60px;
   margin-left: 60px;




}
.child2 {display: flex;
    gap:24px;
    align-items: center;
    margin-right: 16px;
    
}
.b{
    background-color: #F6844D;
    color: aliceblue;
    width: 80px;
    height: 27px;
    border-radius: 10px;
}
.c{
    color: #000;

    font-family: MuseoModerno;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}
.d{
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 60px;
    color:#00C27A;
    margin: 0%;
}
.e{
    font-family: 'MuseoModerno';
    color:black;
    margin: 0%;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.f{
    
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 700px;
text-align:justify ;
}
button{
    background-color:#F6844D;
    color: azure;
    border-radius: 10px;
     
    height: 40px;
     
     display: inline-flex;
      padding: 22px 69px;
justify-content: center;
align-items: center;

    
}
.child3{
    padding:70px 90px ;
    
    
}
.child4 img:first-child{
    position: absolute;
    top: -96px;
  
    right:0px;
    width: 952px;
    z-index: -1;

   
   
    direction: flex;
    
}
.footImg{
    position: absolute !important;
    z-index: 3 !important;
}
.Ba{
    

    right: 180px;
    top:1px;
    transform: rotate(33deg);

}
.Bb{
    top:9px;
    right: 90px;
    
    transform:rotate(27deg);

}
.Bc{
    top:80px;
    left: 50%;
    transform:rotate(127deg);

}
.parent1{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    
}
.child5 {
    position: absolute;
    top:570px;
    left:720px;
    }
    .child5 img{
        height: 400px;
        width: 200px;
        
    }
    .baby1{
        position: absolute;
        right:620px;
        top: 300px;
        
    

    }
    .baby2{
        position: absolute;
        top: 550px;
        right:650px;
    }
    .baby3{
        position: relative;
        top:380px;
        right:420px;
    }
    .baby4{
        position: absolute;
        top: 400px;
        right:350px;
        z-index: -1;
    }
    .baby5{
        position: absolute;
        top: 550px;
        right:200px;
        z-index: -1;
    }
    .baby6{
        
        position: absolute;
        top:700px;
        z-index: -1;
        right:400px;
       

    }
    .subchild{
        
        font-family: 'MuseoModerno';
        
        font-size: 28px;
       font-style: normal;
    font-weight: 400;
     line-height: normal;
width: 700px;
text-align:justify ;
        
        
    }
    .subchildA{
       
        margin-top: 30px;
        font-family: Poppins;
        font-size: 28px;
        
        font-weight: 400;
        
        width: 700px;
        
    }
    .dady{
        
        display: flex;
        justify-content:flex-end;
        margin-bottom: 200px;
        margin-left: 80px;
        
    }
    .parent2{
        
        margin-top: -230PX;
        position: relative;
    } 
    .parent3{
        display: flex;
       margin-top: 230px;
       
       
       

    }

    .subchildA p {
        margin: 0;
    }
    .subchild p{
        margin:0;
    }
    .g{
        color: #000;

        font-family: MuseoModerno;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px; /* 175% */
        text-transform: uppercase;
    }
    .h{
        color: #000;

        font-family: MuseoModerno;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px; 
        text-transform: uppercase;

    }
    .i{
        color: #000;

font-family: MuseoModerno;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 175% */
text-transform: uppercase;

    }
    .mommy p{
        color: #000;

font-family: MuseoModerno;
font-size: 38px;
font-style: normal;
font-weight: 900;
line-height: 70px;
margin-left: 40px;

    }
    .div1{
        position: relative;
    }
    .boi1{
        position: absolute;
       
        right: 0px;
        top:0px;
        bottom: 10px;
        width: 819px;
        height: 216px;

    }
    .boi3{position: absolute;
        width: 600px;
        height: 700px;
        right:0px;
        left: 35%;
        top:108px
        
        

    }
    .boi4{
        position: absolute;
        right:0px;
        top:0px;
        background-color:#373532;
        z-index: -1;
      
    }
    .boi3 img{
        width:600px;
        height: 600px;
    }
    .boi2{
        position: absolute;
        
         
    }
    .boi4 img{
        width:450px;
        height: 704px;
        
    }
    .boi1{
        width:900px;
        height: 110px;
    }
    .boi2 img{
        width: 547px;
    }
    .boi5{
        position: absolute;
        top:518px;
        left:2%;
        
        
    }
    .boi6{
        position: absolute;
        top:480px;
        left:18%;
    }
    .boi6 img{
        width: 203px;
        height: 235px;
    }
    .boi5 img{

        width: 200px;
        height: 200px;
    }
    .boi7{
        position: absolute;
        right: 90px;
        transform: rotate(270deg);
        top: -90px;
        z-index: -1;
        
       

    }
    .boi7 img{
        height: 200px;


    }
    .footer{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .last1 p{
        color: #000;

        text-align: center;
          font-family: Poppins;
         font-size: 28px;
             font-style: normal;
           font-weight: 400;
          line-height: normal;   
    }
    .last1{
        display: flex ;
        flex-direction: row-reverse;
    }
    .last2{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .aa{
        position: absolute;
        top:-100px;
         right:270px;
         

    }
    
    .aa{
        width: 200px;
        height: 200px;
    }
    .bb{
        position:absolute;
        flex-shrink: 0;
        width: 1570px;
        height: 421px;
        z-index: -1;
        
       
    }
    .mommy{
        margin-bottom: 200px;


    }
    .x{margin-top: 200px;
        margin-left: 50px;
        width: 269px;
        height: 140px;
         
        
         
        
        
        
        
    }
    .y{
        margin-top: 210px;
        margin-left: 500px;
        width: 659px;
        height: 168px;
        
    }

